.header{
    width:100%;
    height: 380px;
    background-color:#808080 ;
    
}

.h1{
padding:0 auto;
text-align: center;

}
.all{
    
    background-color: white;
    border:1px solid #e9e9e9;
    width:800px;
    box-shadow:-1px 2px 20px 0px ;
    margin: 10px auto;
   border-radius: 2px 2px 2px 2px ;
   
}

.info {
   width: 600px;
   height: 90px;
    padding-left: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction:row ;
  }
  
  .d1 {
    width: 120px;
    height: 40px;
    border: 1px solid blue;
    padding: 10px;
   font-size: 15px;
    background-color: blue;
    border-radius: 3px 3px 3px 3px ;
}
h3{
    padding-left: 10px;
   padding-top: 10px;

}


a{
    text-decoration:none ;
}

.d2 {
    width: 120px;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
   font-size: 15px;
    background-color: blue;
    margin: auto;

}






